<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="explore.css">
</head>
<body>
    <div class="main">
        <div class="explore">
            <div class="explore-content">
                <div class="first">
                    <div class="square" onclick="centreVideo(this)">
                        <video src="164873773_391517646948425_476985883299595852_n.mp4"></video>
                      </div>
                      <div class="square" onclick="centreVideo(this)">
                        <video src="49182144_3658173747836736_3626772096939377329_n.mp4"></video>
                      </div>
                      <div class="rec" onclick="centreVideo(this)">
                        <video src="in1.mp4"></video>
                        </div>
                        <div class="square" onclick="centreVideo(this)">
                          <video src="D4445BCCB3ADDA228149B479CA4B9E94_video_dashinit.mp4"></video>
                      </div>
                      <div class="square" onclick="centreVideo(this)">
                        <video src="D940D67704CF56B9EBDA913C78B10094_video_dashinit.mp4"></video>
                      </div>
                </div>
                <div class="second">
                  <div class="rec" onclick="centreVideo(this)" >
                    <video src="318176330_7346221758791804_7851073851517092507_n.mp4"></video>
                </div>
                <div class="square" onclick="centreVideo(this)">
                  <video src="C940E04E9C75B59FA143F43E3A6CE3B5_video_dashinit.mp4"></video>
                  </div>
                  <div class="square" onclick="centreVideo(this)">
                    <video src="FE427E5A5517B8A7467F30D7305B5498_video_dashinit.mp4"></video>
                  </div>
                  <div class="square" onclick="centreVideo(this)">
                    <video src="kaithi intro - Made with Clipchamp (2).mp4"></video>
                  </div>
                  <div class="square" onclick="centreVideo(this)">
                    <video src="kaithi intro - Made with Clipchamp (2).mp4"></video>
                  </div>
                      </div>
                      
            </div>
        </div>
    </div>
    <script src="explore.js"></script>
</body>
</html>