<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/followers.css">
</head>
<body>
    <div class="followers-main">
        <div class="followers-content">
          <div class="follow-1">
            <%if(follow){%><h1>Followers</h1><%} else{%>
            <h1>Followings</h1><%}%>
          <a href="/user/<%=user._id%>"><i class="fa-solid fa-xmark"></i></a></div>
          <div class="follow-lists">
           <%for(data of followData){%>
            <div class="follow-list">
                <img class="follow-list-1" src="<%=data.profile%>" alt="">
                <div class="follow-list-2">
                 <p><%=data.name%></p>
                </div>
                <%if(follow){%><button class="follow-list-3">Follow</button><%}%>
            </div>
        <%}%>
          </div>
        </div>
    </div>
</body>
</html>