<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/m/me" method="post">
        <label for="sender">You</label><input type="text" name="sender"><br><br>
        <label for="receiver">He</label><input type="text" name="receiver"><br><br>
        <label for="content">Content</label><textarea name="converstaion" cols="30" rows="10"></textarea><br><br>
        <button>Send</button>
    </form>
</body>
</html>