<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/login.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="main-content">
            <div class="content-left"><img src="https://media.gcflearnfree.org/content/633d944b3823fb02e84dce55_10_05_2022/Screen%20Shot%202022-10-10%20at%202.28.19%20PM.png" alt=""></div>
            <div class="content-right">
                <div class="content-r-1">
                    <div class="r-11"><img src="https://e7.pngegg.com/pngimages/712/1009/png-clipart-letter-instagram-font-instagram-text-logo-thumbnail.png" alt="" srcset=""></div>
                    <div class="r-12">
                        <form action="/login" method="post" class="user-data">
                           <div class="r-12-1">
                            <div class="r-12-1-1"><label for=""><span>Phone number,username,or email</span><input type="text" name="username"></label></div>                            
                            <div class="r-12-1-1"><label for=""><span>Password</span><input type="text" name="password"></label></div>
                            <div class="r-12-1-1-for"><a href=""><span>Forgot password?</span></a></div>
                            <div class="r-12-1-2"><button>Log in</button></div>
                            <div class="r-12-1-3">
                                <div class="r-12-1-3-1"></div>
                                <div class="r-12-1-3-2">OR</div>
                                <div class="r-12-1-3-1"></div>
                            </div>
                            <div class="r-12-1-4 log"><span><i class="fa-brands fa-square-facebook"></i></span><span>Log in with facebook</span></div>
                            <div class="r-12-1-4 continue"><button><i class="fa-brands fa-square-facebook"></i><span>Continue with facebook</span></button></div>
                           </div>
                           <a href="">Forgot password?</a>
                        </form>
                    </div>
                </div>
                <div class="content-r-2">
                    <span>
                        <p>Don't have an account? <a href="/signup">Sign up</a></p>
                    </span>
                </div>
                <div class="content-r-3">
                    <div class="content-r-31">
                        <span>Get the app.</span>
                    </div>
                    <div class="content-r-32">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Get_it_from_Microsoft_Badge.svg/800px-Get_it_from_Microsoft_Badge.svg.png" alt="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Get_it_from_Microsoft_Badge.svg/800px-Get_it_from_Microsoft_Badge.svg.png" alt="">
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>